[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-syntastic"]
	path = .vim/bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-taglist"]
	path = .vim/bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-tabular"]
	path = .vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-vagrant"]
	path = .vim/bundle/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-colors-ir_black"]
	path = .vim/bundle/vim-colors-ir_black
	url = https://github.com/kemiller/vim-ir_black
[submodule ".vim/bundle/vim-colors-molokai"]
	path = .vim/bundle/vim-colors-molokai
	url = https://github.com/tomasr/molokai.git
